body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E
}
p{
  line-height: 2;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;

}
h2{

      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      color: #66BFBF;
      font-weight: normal;
      margin-top: 0;
}
h3{
      font-family: 'Montserrat', sans-serif;
      color: #11999E;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}


.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.skill-row a{
  color: #11999E;
  text-decoration: none;
}
.skill-row a:hover {
  color:#11777E;

}
.desc{
  width: 30%;
  margin: auto ;
}
hr{
  border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 4%;
 margin: 70px auto 70px auto;;
}
.bottom-container a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
}
.bottom-container a:hover{
  color:#EAF6F6
}
.middle-container{
  margin:100px 0;
}
.myphoto{
  width: 12%;
  margin-bottom: 30px;
}
.bottom-cloud,.top-cloud{
  position: absolute;
}
.top-cloud{
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  left:250px;
  bottom:300px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
  height:50%;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.btn {

  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75em;
  padding:20px 0;
}
